@using Notifyd.Portal.Models;
@using Microsoft.AspNet.Identity;
@using NGravatar.Html;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Notifyd.Portal.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Notifyd</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/site.css")
    @Styles.Render("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    @Styles.Render("http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css")
    @Scripts.Render("~/bundles/modernizr")
  <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-45404319-2', 'notifyd.net');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="ionicons ion-radio-waves large-icon"></i> Notifyd
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>@Html.ActionLink("Notifications", "Index", "Notification")</li>
                    <li>@Html.ActionLink("Address Book", "Index", "Address")</li>
                </ul>
                @if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">  
                            @{
        var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>
(new ApplicationDbContext()));

        var currentUser = manager.FindById(User.Identity.GetUserId());

        if (currentUser.UserName == null)
        {
            <li>
                <p>Null Email</p>
            </li>
        }
        else
        {
            if (currentUser.UserName == "Admin")
            {
                <li><a href="~/Admin">Admin</a></li>
            }
            <li>
                <a href="@Url.Action("MyProfile", "Account")" class="gravatar-icon">
                    @Html.Gravatar(currentUser.UserName, 40, null, "http://www.flaticon.com/png/256/22447.png", null, null, htmlAttributes: new { style = "background-color: white;" })
                </a>
            </li>
                            }
                            }
                       
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Notifyd</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
