@using Notifyd.Portal.Models;
@using Microsoft.AspNet.Identity;
@using NGravatar.Html;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Notifyd.Portal.Models;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Index", "Dashboard")">Dashboard <i class='fa fa-angle-double-right'></i></a>
        </li>
        <li>
            @{
                    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>
                        (new ApplicationDbContext()));

                    var currentUser = manager.FindById(User.Identity.GetUserId());

                    if (currentUser.UserName == null )
                    {
                        <p>Null Email</p>
                    }
                    else
                    {

                        <a href="@Url.Action("MyProfile", "Account")" class="gravatar-icon">
                            @Html.Gravatar(currentUser.UserName, 40, null, "http://www.flaticon.com/png/256/22447.png", null, null, htmlAttributes: new { style = "background-color: white;" })
                        </a>
                    }
}
            @*@Html.ActionLink("Hello " + User.Identity.Name + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { style = "background-color: white;" })*@
         </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
