@model Notifyd.Portal.Models.Address

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h2><i class="fa fa-book">Address Book</i></h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">
        @Html.ValidationSummary(true)
        <form class="bs-example form-horizontal">
            <fieldset>
                <legend>Add New Address</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.OrganizationId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OrganizationId)
                        @Html.ValidationMessageFor(model => model.OrganizationId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.UpdatedOn, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UpdatedOn)
                        @Html.ValidationMessageFor(model => model.UpdatedOn)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UpdatedBy, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UpdatedBy)
                        @Html.ValidationMessageFor(model => model.UpdatedBy)
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
