@model Notifyd.Portal.Models.Notification

@{
    ViewBag.Title = "Edit";
}
<style type="text/css">
    #dob {
        width: 650px;
        height: 150px;
    }
</style>
<h2><i class="fa fa-pencil-square-o">Notifications</i></h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Notification</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.NotificationId)

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrganizationId)
                @Html.ValidationMessageFor(model => model.OrganizationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject)
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Body, new { @class = "input-lg" })*@
                @Html.TextAreaFor(model => model.Body,
                 new { style = "width: 600px; Height: 150px;"})
                @Html.ValidationMessageFor(model => model.Body)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToAddress)
                @Html.ValidationMessageFor(model => model.ToAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FromAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromAddress)
                @Html.ValidationMessageFor(model => model.FromAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FromDisplay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromDisplay)
                @Html.ValidationMessageFor(model => model.FromDisplay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdatedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdatedOn)
                @Html.ValidationMessageFor(model => model.UpdatedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdatedBy)
                @Html.ValidationMessageFor(model => model.UpdatedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
